<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registeration Succesfully in Ipl</title>
<style>
	
	body{
		
		background-image: url();
	}
	h1 {
			text-shadow: 2px 2px 5px rgb(255, 0, 0);
		}
	
	
</style>
</head>
<body>
<h1 style="color: darkgreen;">Congrational Your succesfully Register in IPL</h1>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaeUCjBkOOB0SCiJKVLy_WxqBjpYTwMIdE3YdvFpUy&s" alt="">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbDA0lnC5cAEqaJjGCgtgHh2oGXnDfSLZZBA&usqp=CAU" alt="">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRT86ZnFf80F1uHW7fuGM50cMeCA6OgE5Hj6Q&usqp=CAU" alt="">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuUz5DQ5HU429EgOk394QUZmJJqV0w7Eulmw&usqp=CAU" alt="">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFzvvzHeURvs5Od53k2-siuRBgveLX2UPAXQ&usqp=CAU" alt="">
<br>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkM2C5Iiag63O995aony0RYMO-I4R70AqSSQ&usqp=CAU&reload=on" alt="">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRt1emsfGqTqbWvH66cVUaWaKokNrFwWFqgA&usqp=CAU&reload=on" alt="">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzlh7EgXSifAExnNKn52ednp7dyO6Tmnr3Pg&usqp=CAU&reload=on" alt="">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6LTJJj4ZgSwRAMBSEszn_ug4TyxEm8ArZ-g&usqp=CAU" alt="">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRmnMdphNDmrB_sraF1zfndUlMGebzl2yUXg&usqp=CAU" alt="">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfIkb4Y0F5XqaA5nEcmd4cHLymXkQz2GYf9lHxwhrL9IDsQjGh5TIpvd19hy5tpjAxLgw&usqp=CAU" alt="">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiFhSz_gZYJv_yjg0VA6Yoi_-RMf0U_6wf0g&usqp=CAU" alt="">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQG3rNdQPhXTzBIvVJOZ8fg6PW9F9RQcY-AvQ&usqp=CAU" alt="">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQLzkMYlv9E6R65n0KtxBUrYxhs-m-3xlBAw&usqp=CAU" alt="">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkE7DjjHeKKwnUW482lOlXbbYoaGTmsNADXA&usqp=CAU" alt="">
</body>
</html>